.c-primary { color: $color-primary; }
.c-bg-primary { background-color: $color-primary;}

.c-secondary { color: $color-secondary; }
.c-bg-secondary { background-color: $color-secondary;}

.c-white { color: white; }
.c-bg-white { background-color: white;}

.c-blue { color: $color-wwj-blue; }
.c-bg-blue { background-color: $color-wwj-blue;}

.c-gray { color: $color-gray; }
.c-bg-gray { background-color:  $color-gray;}

.c-body-text { color: $color-body-text; }
.c-bg-body-text { background-color: $color-body-text;}

.c-orange { color: $color-primary; }
.c-red { color: #da5040;}
.c-green { color: #51a42c;}
