{% extends "documentor/documentor.twig" %}

{% block componentBody %}

    <h2>Navbar</h2>

    <h3>info</h3>
    info

    <h3>preview</h3>
    <div>
        {% include "modules/navbar/module-navbar.twig" %}
    </div>


{% endblock %}
