<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TemplateMaster</title>
    <link rel="stylesheet" href="/assets/dist/css/main.css">
</head>
<body>

<div style="border: 1px solid black">
    {% block templateList %}{% endblock %}
</div>

<div>
    {% block content %}{% endblock %}
</div>
<script src="/assets/dist/js/lib.js"></script>
<script src="/assets/dist/js/bundle.js"></script>
</body>
</html>
