<!DOCTYPE html>
<html lang="{{ config.app.lang }}">
<head>
    <meta charset="UTF-8">
    <title>TemplateMaster</title>
    <link rel="stylesheet" href="/assets/dist/css/main.css">

    {% include "../modules/meta/meta-seo.twig" %}
    {% include "../modules/meta/meta-app-icons.twig" %}

    {% if config.gtm.enabled %}
        {% include "vendor/google-tag-manager/gtm_head.twig" %}
    {% endif %}

</head>

<body class="{% block bodyClasses %}{% endblock %}">
{% if config.gtm.enabled %}{% include "vendor/google-tag-manager/gtm_body.twig" %}{% endif %}

<div>
    {% block content %}{% endblock %}
</div>

<div style="margin-top: 100px" class="text-center">
    <hr><a href="/.components">Documentor</a>
</div>

{% if config.vendor.photoswipe.enabled %}{% include "vendor/photoswipe/vendor-photoswipe.twig" %}{% endif %}
<script src="/assets/dist/js/lib.js"></script>
<script src="/assets/dist/js/bundle.js"></script>
</body>
</html>
