{# @todo pass data for SEO - add variables #}

{# SEO & description #}
<title>Title</title>
<meta name="description" content="description">

{# twitter only #}
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="//url"/>
<meta name="twitter:creator" content="{{ config.social.twitter.user }}"/>

{# FB + Twitter #}
<meta property="og:url" content="//url"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="title"/>
<meta property="og:description" content="description"/>

<meta property="og:image" content="//imageurl"/>
